<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="static/css/login.css">
</head>
<body>
    {% block content %}
    <div class="container">
        <input type="checkbox" id="check">
        <div class="login form">
            <header>Login</header>
            <form action="{{ url_for('login') }}"  method="POST">
                <input type="text" name="email" placeholder="Enter your email" required>
                <input type="password" name="password" placeholder="Enter your password" required>
                <span style="color: red;">{{ error }}</span>  <!-- Display error message here -->
                <a href="{{url_for('verify')}}">Forgot password?</a>
                <button type="submit" class="button">Login</button>
            </form>
            <div class="signup">
                <span class="signup">Don't have an account?
                <label for="check"> <a href="{{url_for('signup')}}">Signup</a></label>
                </span>
            </div>
        </div>
    </div>
    {% endblock%}
</body>
</html>
