<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Show Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">                
        body { margin-top:20px; }
        .avatar { width:200px; height:200px; }
    </style>
</head>
<body>
    <div class="container bootstrap snippets bootdey">
        <h1 class="text-primary">Show Profile</h1>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <div class="text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="avatar img-circle img-thumbnail" alt="avatar">
                    <h4> {{ customer_data.name }}</h4>
                        <div class="form-group">
                            <div class="col-md-12">
                                
                              <a href="{{ url_for('home_page_with_logins') }}" > <button type="submit" class="btn btn-primary">Home Page</button> </a>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-9 personal-info">
       
                <h3>Personal info</h3>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Name :</label>
                    <div class="col-lg-8">
                      <h4>{{ customer_data.name }}</h4>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">email :</label>
                    <div class="col-lg-8">
                        <h4>{{ customer_data.email }}</h4>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">address :</label>
                    <div class="col-lg-8">
                        <h4>{{ customer_data.address }}</h4>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">city :</label>
                    <div class="col-lg-8">
                        <h4>{{ customer_data.city }}</h4>   
                                     </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">country :</label>
                    <div class="col-lg-8">
                        <h4>{{ customer_data.country }}</h4>
                                        </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">zip :</label>
                    <div class="col-lg-8">
                        <h4>{{ customer_data.zip }}</h4>                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">phone :</label>
                    <div class="col-lg-8">
                        <h4>{{ customer_data.phone }}</h4>                    </div>
                </div>
             
               
                <div class="form-group">
                    <div class="col-md-12">
                        <form action="{{ url_for('show_customer_data_edit') }}" method="GET">
                            <input type="hidden" name="customer_id" value="{{ customer_data.id }}">
                            <button type="submit" class="btn btn-success">Update Data</button>
                        </form>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <form action="{{ url_for('remove_customers') }}" method="POST">
                            <input type="hidden" name="customer_id" value="{{ customer_data.id }}">
                            <button type="submit" class="btn btn-danger">Remove account</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        // Your JavaScript code here
    </script>
</body>
</html>
