<!DOCTYPE html>
<html>
<head>
    <title>Update Password</title>
</head>
<body>
    <h2>Update Your Password</h2>
    <form method="POST" action="/update_password">
        <input type="hidden" name="email" value="{{ email }}">
        <label for="password">Enter New Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Update Password">
        <p>Now go to login page to login from <a href="{{url_for('login')}}" >here</a></p>
    </form>
</body>
</html>
